<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <title>About - Data Science Course</title>
</head>
<body>
    <h1>About This Course</h1>
    <p>Welcome to the Data Science course! This course is designed to take you from the basics of Python programming all the way to advanced topics like machine learning and deep learning.</p>

    <p>Throughout the course, you will learn:</p>
     <ul>
        <li>Python programming and data handling</li>
        <li>Working with SQL databases</li>
        <li>Statistics and probability for data science</li>
        <li>Machine learning algorithms</li>
        <li>Deep learning and neural networks</li>
     </ul>
     <ol>
        <li>Python programming and data handling</li>
        <li>Working with SQL databases</li>
        <li>Statistics and probability for data science</li>
        <li>Machine learning algorithms</li>
        <li>Deep learning and neural networks</li>
     </ol>
</body>
</html>